body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

html { 
  background: url(https://i.ytimg.com/vi/2onbvQEbb4k/maxresdefault.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#visit {

	border-width: 3px;
	border-color: #9e9ff4;
	border-style: none;
	margin: 20px;
	padding: 40px;
	color: white;
	text-align: center;
}

#visit h1 {
	font-size: 60px;
	letter-spacing: 20px;
	color: white;
	text-shadow: -2px -3px 6px #000000;
}

#visit h3 {
	letter-spacing: 5px;
	color: #2457b2;
	text-shadow: 1px 1px 5px white;

}

#things {
	color: white;
}

#salar {
	color: white;
	font-family: "Arial";
	font-size: 14px;
	font-style: italic;
	letter-spacing: 2px;
	text-align: right;
	text-shadow: 4px 2px 5px black;
	margin-right: 40px;
	padding-top: 110px;

}







